.App {
  text-align: center;
}

body {
  background-color: #fefae0;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather--container {
  display: flex;
  /* gap: 10px; */
  margin-top: 50px;
}

.weather--side-info {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-left: 12px;
}

.weather--info {
  font-size: small;
  margin-bottom: 20px;
  height: 1px;
  text-transform: uppercase;
  text-align: justify;
  padding-bottom: 2px;
  letter-spacing: 1px;
  margin-right: auto;
}

.weather--name {
  margin-right: auto;
  font-weight: 400;
  margin-left: 15px;
  font-size: 1.8em;
}

.weather--description {
  margin-top: 40px;
  font-weight: 400;
  font-size: 1.6em;
}

.weather--temp {
  height: 75px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  font-size: 4em;
  border-right: 2px solid black;
  margin: 0px;
  letter-spacing: 5px;
  font-weight: 400;
}

.weather--icon {
  width: 250px;
  height: 250px;
}

.weather--name {
  margin-bottom: 1px;
}